@model IEnumerable<WebApplication.Models.Footer>
@foreach (var row in Model.Where(m => m.hide == true))
{
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
            @row.contentleft
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            <a href="@row.link" target="_blank">
                @row.contentright
            </a>
        </span>
    </div>
</footer>
}